@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Estilo da sidebar */
.sidebar {
    background-color: #1A428A;
    width: 200px; 
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease; 
}

.sidebar img {
    width: 80%;
    margin-bottom: 20px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 700;
}

.sidebar-menu li a:hover,
.sidebar-menu li.active a {
    background-color: #fff;
    color: #1A428A;
}

.sidebar-toggle-button {
    background-color: #1A428A;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    transition: transform 0.3s ease; 
}

.sidebar.closed {
    width: 50px; 
}


.content {
    height: 100%;
    overflow-y: auto; 
    transition: margin-left 0.3s ease;
    margin-left: 200px;
}

.content.content-open {
    margin-left: 200px; 
}

.content.content-closed {
    margin-left: 50px; 
}

#siderbardown {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #1D4997;
    border-radius: 10px;
    margin-bottom: 5%;
}
.topbarcontent{
    height: 50px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; 
}

.title{
    color: #1D4997;
    font-weight: bold;
    margin-left: 10px;
}